server.port: {{ kibana_host_port }}
server.host: {{ kibana_host_ip | to_json }}
elasticsearch.hosts: [{{ kibana_elasticsearch_host | to_json }}]
{% if kibana_enable_basic_auth | bool %}
elasticsearch.username: {{ kibana_es_username | to_json }}
elasticsearch.password: {{ kibana_es_password | to_json }}
{% endif %}
