cluster.name: {{ elasticsearch_cluster_name | to_json }}
node.name: {{ inventory_hostname | to_json }}

path.data: {{ elasticsearch_path_data }}
path.logs: {{ elasticsearch_path_logs }}

network.host: {{ elasticsearch_network_host }}
http.port: {{ elasticsearch_http_port }}

discovery.type: {{ elasticsearch_discovery_type }}
xpack.security.enabled: {{ elasticsearch_xpack_security_enabled | bool | ternary('true', 'false') }}
